@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Courier+New&display=swap");

body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Courier New", monospace, sans-serif;
    scrollbar-width: none; 
  scrollbar-color: transparent transparent; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* In your CSS or stylesheets */


body::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb (the moving part) */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (the area the thumb moves on) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
